/* Variables */
:root {
  --main-color: #191c32;
  --primary-color: aqua;
  --secondary-color: #fff;
}

/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Main styling */
body,
html {
  font-family: "Raleway", sans-serif;
  color: var(--secondary-color);
  line-height: 1.7em;
  background-color: var(--main-color);
}

hr {
  border: 0.5px solid var(--secondary-color);
}

/* Utility Classes */
a {
  text-decoration: none;
}
.container {
  margin: 0 auto;
  max-width: 1100px;
  padding: 0 30px;
}

.section {
  padding: 20px 0;
  overflow: hidden;
}

.line-break {
  padding-bottom: 10px;
}

.section-header {
  text-align: center;
  margin-bottom: 1.5rem;
}

.title {
  position: relative;
  padding-bottom: 1rem;
  line-height: 1;
  font-size: 2rem;
  margin-bottom: 0.6rem;
}

.title:before {
  content: attr(data-title);
  display: block;
  margin-bottom: 0.4rem;
  color: var(--primary-color);
  font-size: 1rem;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 3px;
}

.title:after {
  content: "";
  position: absolute;
  width: 90px;
  height: 5px;
  border-radius: 3px;
  background-color: var(--primary-color);
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

.text {
  max-width: 600px;
  margin: 0 auto;
}
